.knowledgeCard {
  margin: 1rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  padding: 1rem;
  max-width: 15rem;
  min-height: 10rem;
}

.knowledgeCard:hover {
  transform: scale(1.05);
  /* background-color: #3c2a21; */
  background-color: rgba(60, 42, 33, 0.5); /* 50% opacity */
  /* border-radius: 20px; */
}
