.logo-display {
  display: flex;
  max-width: 35rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo-display p {
  margin-top: -1rem;
  font-size: 12px;
}

.logo {
  margin: 1rem;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  padding: 0.5rem;
}

.logo:hover {
  background-color: beige;
}
